* {
  color: #2c2c2c;
  accent-color: #2d30ff;
  font-family: 'Inter', sans-serif;
}

.plugin-body {
  margin: 0;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

#code {
  background: #1e1e1e;
  width: 100%;
  height: 300px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
pre {
  display: flex;
}
pre code {
  width: -moz-fit-content;
  width: fit-content;
  overflow-x: unset !important;
  white-space: pre;
}

.check-box {
  display: flex;
  flex-direction: column;
}

.input-box {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.button-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 10px;
  gap: 20px;
  margin-top: 20px;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #2c2c2c;
  margin: 0 0 20px 0;
  font-weight: 700;
}
.question {
  margin: 20px 0;
  padding: 0 10px;
  font-size: 20px;
  line-height: 24px;
  color: #2c2c2c;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2c2c2c;
  border-radius: 10px;
  color: #2c2c2c;
  height: 48px;
  background-color: #fff;
  font-size: 16px;
}
#copy {
  width: 235px;
}
#cancel {
  width: 157px;
}

#toast {
  z-index: 999999;
  position: absolute;
  bottom: 100px;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  width: 200px;
  padding: 8px;
  text-align: center;
  display: flex;
  background-color: #000;
  color: #fff;
  transition: all 0.2s ease;
  border: 1px solid #2300be;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

#convert span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;
  gap: 8px;
}

select {
  display: flex;
  align-items: center;
  width: 160px;
  height: 33px;
  margin: 0;
  border: 1px solid #2c2c2c;
  border-radius: 8px;
}
option {
  height: 33px;
}
